@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merienda", cursive;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e0c9;
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
}

ul li a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    color: #206830 !important;
}

.navbar-logo {
    padding-right: 20px;
    color: rgb(2, 100, 2);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}